#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.grid-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(16, 1fr);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
